
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
}

:root{
   --primary-color:black;
   --secondary-color:white;
   --color1:rgb(175,175,175);
   --color2:rgb(234, 88, 12);
   --color3:rgb(49, 46, 129);
}

header{
    height: 8vh;
    width:100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    font-size: 18px;
}

.containers{
    display: flex;
    padding: 50px 120px;
    gap: 25px;
    background-color: whitesmoke;
}

.container1{
    height:auto;
    width: 70%;
    padding:40px 40px;
    background-color: white;
    border-radius: 10px;
}

.contents1{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.cont-right i{
    font-size: 18px;
    margin-top: 5px;
}

.contents1 h3{
    font-size: 20px;
}

.contents1 button{
    margin-top:15px;
    padding:5px 15px;
    border-radius: 10px;
    border-color: transparent;
    background-color:rgb(175,175,175);
    font-size: 15px;
    color: var(--secondary-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.container1 .forms{
    display: flex;
   justify-content: space-between;
}

.form1 , .form2 h5{
    font-size: 15px;
}

.forms .form1{
    display: table;
}

.forms .form1 p{
    display: table-row;
    font-size: 14px;
}

.forms .form1 label{
    display: table-cell;
}

.forms .form1 input{
    display: table-cell;
    width: 100%;
    padding: 10px 20px;
    margin: 3px;
    border: 1px solid rgb(175,175,175);
    background-color: rgb(255, 252, 252);
    border-radius: 5px;
}

.forms .form2 input{
   
    width: 100%;
    padding: 10px 20px;
    margin: 3px;
    border: 1px solid var(--color1);
    background-color:  rgb(255, 252, 252);
    border-radius: 5px;
}

.forms .form2{
    display: table;
}

.forms .form2 p{
    display: table-row;
    font-size: 14px;
}

.forms .form2 label{
    display: table-cell;
}

.forms .form2 input{
    display: table-cell;
}

.container1 h5{
    margin-top: 30px;
    font-size: 15px;
}

.container1 a{
    color: var(--primary-color);
}

.form3{
    margin-top: 2rem;
}

 .form3 p{
    display: table-row;
    font-size: 14px;
}
 .form3 label{
    display: table-cell;
}

.form3 input{
    width: 15rem;
    padding: 10px 20px;
    margin: 3px;
    border: 1px solid var(--color1);
    background-color:  rgba(255, 252, 252, 0.542);
    border-radius: 5px;
}

.form4{
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    color: var(--color1);
}

.form4 div input{
    width: 100%;
    padding: 10px 0px;
    border:1px solid #ccc;
    margin: 5px 0px;
    border-radius: 5px;
}

.form4 div textarea{
    border-radius: 5px;
    margin-top: 0px;
}


.forms2{
    position: relative;
    display: flex;
    margin: 30px 0px;
    gap: 10px;
    background-color:white;
    color: var(--primary-color);
}

.form5 input{
    width: 30rem;
    padding: 20px 0px;
    border:1px solid #ccc;
    margin: 10px 0px;
    border-radius: 5px;
}

.form5-right{
    margin: 20px;
    display: block;
    padding: 10px 30px;
   
}

.form5-right label{
    margin-top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: var(--secondary-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:var(--color3);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .f5-right1{
    display: flex;
    gap: 50px;
    color: var(--primary-color);
    font-weight: lighter;
  }
   
  .f5-right2{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    font-weight:normal;
  }

    .f5-right3{
       display: flex;
       justify-content: space-between;
        color: var(--primary-color);
        font-weight:normal;
  }

  .f5-right3 input{
        padding: 5px 3px;
        border: 1px solid var(--color1);
        border-radius: 5px;
        margin:25px 10px;
  }

  .f5-right4{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 15px;
    color: var(--primary-color);
  }


.container2{
    height:80vh;
    width: 25%;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.contents2{
    background-color: var(--secondary-color);
}

.contents2 .btn1{
    width:100%;
    padding:20px 10px;
    margin-top:10px;
    border: 2px solid var(--color1);
    border-radius: 5px;
    background-color: white;
    font-size: 17px;
    font-weight: bold;
}

.btn1:hover{
    cursor: pointer;
}

.contents2 .btn2{
    width:100%;
    padding:20px 10px;
    margin-top:10px;
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    background-color:var(--color2);
    font-size: 17px;
    font-weight: bold;
}

.contents2 .btn2:hover{
    background-color: rgb(252, 108, 30);
    cursor: pointer;
}

.contents2 .btn3{
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--color3);
    border-radius: 5px;
    border-color: transparent;
    font-size: 16px;
    color: var(--secondary-color);
}

.contents2 .btn3:hover{
    background-color:rgba(49, 46, 140, 0.932) ;
    cursor: pointer;
}

.contents2 .btn5{
    width:49%;
    margin-top: 10px;
    border: none;
    background-color: var(--color3);
    color: var(--secondary-color);
    padding:10px;
    border-radius: 5px;
    font-size: 15px;
}

.contents2 .btn5:hover{
    background-color:rgba(49, 46, 140, 0.932) ;
    cursor: pointer;
}

.container2 .contents2 .btn6{
    margin-top: 10px;
    padding: 10px 0px;
    border: 1px solid var(--color1);
    width: 100%;
    border-radius: 5px;
    background-color: white;
}

.contents2 .btn6:hover{
    background-color:rgba(238, 238, 238, 0.932) ;
    cursor: pointer;
}

.contents2 h4{
    margin-top: 10px;
}

.contents2 #currency{
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:rgb(229, 231, 235);
}

.container2 .contents2 input{
    width: 80%;
    padding: 10px 10px;
    margin: 10px 0px;
    border: 1px solid var(--color1);
    border-radius: 5px;
}

.container2 .contents2  p{
    margin-top: 15px;
}

.container2 .contents2 .btn4{
    width: 10%;
    padding: 3px 0px;
    border: 1PX solid rgb(251, 147, 147);
    background-color: rgb(250, 196, 196);
    border-radius: 5px;
}

.container3{
height: auto;
width: 100%;
padding: 50px 150px;
background-color: whitesmoke;
}

.contents3{
    background-color: white;
    border-radius: 10px;
    height: auto;
    width: 100%;
    padding: 0px 80px;
}

.para{
    padding:30px 200px;
    line-height: 25px;
}

.bullets{
    height: auto;
    width: 100%;
    align-items: center;
    padding: 30px 230px;
    margin-top: -30px;
   
}

.bullets li{
    padding-top: 10px;
}

.bullets p{
    padding-top: 10px;
    line-height: 25px;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 30px 120px;
}

footer .one{
    color: rgb(65, 62, 62);
    font-size: 16px;
}

footer span{
    color:var(--color1);
    font-size: 14px;
}

footer .two{
    justify-content: space-evenly;
    color: var(--color1);
    font-size: 20px;
}

@media screen and (min-width:270px) and (max-width:768px){

    header{
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .containers{
        padding: 20px;
        width:100%;
        display: flex;
        flex-direction: column;
    }

    .container1{
        width: 100%;
        padding: 10px;
    }

    .forms{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .forms .form1{
        width: 100%;
        display: table;
    }
    
    .forms .form1 p{
        display: table-row;
        font-size: 14px;
    }
    
    .forms .form1 label{
        display: table-cell;
        width: 23vw;
    }
    
    .forms .form1 input{
        display: table-cell;
        width:63vw;
    }

    .forms .form2 input{
        width: 100%;
    }

    .form3 input{
        width: 100%;
        padding: 10px;
    }

    .forms2{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form4{
        display: flex;
        flex-direction: column;
    }

    .form3 input{
        width: 100%;
    }

    .form5 input{
        width: 100%;
    }

    .forms2 .form5-right{
        padding: 0px;
        margin: 0px;
    }

    .forms2 .f5-right1{
       display: flex;
       flex-direction: column;
    }

    .f5-right2{
        display: flex;
        padding: 50px 0px;
        justify-content: space-between;
    }

    .container2{
        width: 100%;
    }

    .container3{
        padding: 10px 30px;
    }

    .container3 .contents3 {
        padding: 20px;
    }

    .container3 .para{
        padding: 10px;
    }

    .container3 .contents3 .bullets{
        padding: 50px 20px;
    }

    footer{
        width: 100%;
        padding: 30px 10px;
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    header{
        display: flex;
        justify-content: left;
        align-items: center;    
    }

    .containers{
        padding: 20px;
        width:100%;
        display: flex;
        flex-direction: column;
    }

    .container1{
        width: 100%;
        padding: 10px;
    }

    .forms{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .form1{
        width: 100%;
    }

    .forms .form1 input{
        width:67vw;
    }

    .forms .form1 label{
        width: 23vw;
    }

    .forms .form2 input{
        width: 100%;
    }

    .form3 input{
        width: 100%;
        padding: 10px;
    }

    .forms2{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form4{
        display: flex;
        flex-direction: column;
    }

    .form3 input{
        width: 100%;
    }

    .form5 input{
        width: 100%;
    }

    .forms2 .form5-right{
        padding: 0px;
        margin: 0px;
    }

    .forms2 .f5-right1{
       display: flex;
       /* flex-direction: column; */
       justify-content: space-around;
    }

    .f5-right2{
        display: flex;
        padding: 50px 0px;
        justify-content: space-between;
    }

    .container2{
        width: 100%;
    }

    .container3{
        padding: 10px 30px;
    }

    .container3 .contents3 {
        padding: 20px;
    }

    .container3 .para{
        padding: 10px;
    }

    .container3 .contents3 .bullets{
        padding: 50px 40px;
    }

    footer{
        width: 100%;
        display: flex;
       justify-content: space-around;
       align-items: center;
    }

}

@media screen and (min-width:991px) and (max-width:1246px){
    .containers{
        display: flex;
       flex-direction: column;
       width: 100%;
    }

    .container1{
        width: 100%;
    }

    .container2{
        width: 100%;
    }

    .container3{
        width: 100%;
        padding: 0px 120px;
    }

    .contents3{
        padding: 20px;
    }

    .para{
        padding: 20px;
    }

    .bullets{
        padding: 40px;
    }
}